

{% extends 'blog/base.html' %}
{% load static %}
{% block title %}


{% endblock title%}

{% block profile %}
	<div class="fh5co-bio">
		<figure>
			<img src="{{ auth.profile_picture.url }}" alt="Free HTML5 Bootstrap Template" class="img-responsive">
		</figure>
		<h3 class="heading">About Me</h3>
		<h2>{{ auth.name.username }}</h2>
		<h2>{{ auth.name.get_full_name }}</h2>
		<h2>{{ auth.name.email }}</h2>
		<p>{{ auth.details }}</p>
		<ul class="fh5co-social">
			<li><a href="#"><i class="icon-twitter"></i></a></li>
			<li><a href="#"><i class="icon-facebook"></i></a></li>
			<li><a href="#"><i class="icon-instagram"></i></a></li>
		</ul>
	</div>	

{% endblock profile %}
{% block stylesheet %} 


{% endblock stylesheet %}
	<!-- END #fh5co-header -->
	{% block content %}
			
	<!-- END #fh5co-header -->
	<div class="container">
	    <h4 class=""><span class="label label-default">Author : </span> <a class="text-primary" href="">  {{ auth.name.get_full_name }}</a></h4> <br> <br> 
    </div>	
	<div class="container">
		<div class="row">
			{% for post in posts %}
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
				<div class="thumbnail">
					<a href="{% url 'single_post' id=post.id %}"><img src="{{ post.image.url }}" alt="Image" class="img-responsive"></a>
				  <div class="caption">
					<code>
						<span class="label label-primary"><a class="bg-primary" href="{% url 'category' name=post.category.name %}">{{ post.category.name }}</a></span>
						<span class="label label-info"><a class="text-primary" href="{% url 'author' name=post.article_author.name.username %}">{{ post.article_author.name.get_full_name }}</a></span>
					</code>
					<h3><a class="text-success" href="{% url 'single_post' id=post.id %}">{{ post.title }}</a></h3>
					<p class="text-justify">{{ post.body|safe|truncatewords:15}}</p>
					<p><a href="{% url 'single_post' id=post.id %}" class="btn btn-info btn-lg btn-block active" role="button">Read More</a></p>
					<code>
					<span class="label label-default">{{ post.posted_on|timesince }} ago</span>
				   </code>
				</div>
			</div>
		</div>
			
	
		   {% endfor %}
		</div>
	</div>
			
	<div class="container">
		<div class="row">
		<div class="col-md-6">
		<div class="pagination ">
			<nav aria-label="Page navigation">
				<ul class="pager">
			
				{% if posts.has_previous %}
				   <li>	<a href="?page=1">&laquo; first</a></li>
				   <li><a href="?page={{ posts.previous_page_number }}">previous</a></li>
				{% endif %}
		
				
					<li>Page {{ posts.number }} of {{ posts.paginator.num_pages }}.</li>
				
		
				{% if posts.has_next %}
				<li><a href="?page={{ posts.next_page_number }}">next</a></li>
				<li><a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a></li>
				{% endif %}
			</ul>
			
		</nav>
		</div>
		</div>
		</div>
		</div>
			




	
			
	{% endblock content %}

{% block script %} {% endblock script %}






