{% extends 'blog/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}


{% endblock title%}

{% block profile %}
	<div class="fh5co-bio">
		<figure>
			<img src="{{ post.article_author.profile_picture.url }}" alt="Free HTML5 Bootstrap Template" class="img-responsive">
		</figure>
		<h3 class="heading">About Me</h3>
		<h2>{{ post.article_author.name.username }}</h2>
		<h2>{{ post.article_author.name.get_full_name }}</h2>
		<h2>{{ post.article_author.name.email }}</h2>
		<p>{{ post.article_author.details }}</p>
		<ul class="fh5co-social">
			<li><a href="#"><i class="icon-twitter"></i></a></li>
			<li><a href="#"><i class="icon-facebook"></i></a></li>
			<li><a href="#"><i class="icon-instagram"></i></a></li>
		</ul>
	</div>	

{% endblock profile %}
{% block stylesheet %} 
<style>

	/*----------------------------*\
	comments
\*----------------------------*/
.post-comments .media {
	padding-top: 15px;
	border-top: 1px solid #eceef2;
}
.post-comments .media:nth-child(1) {
	padding-top: 0px;
	border-top: none;
}
.post-comments .media .media-left {
	padding-right: 15px;
}
.post-comments .media .media-left .media-object {
	width:70px;
	border-radius: 50%;
}
.post-comments .media .media-body .media-heading h4 {
	text-transform: capitalize;
}
.post-comments .media .media-body .media-heading .time {
	font-size: 13px;
	margin-right: 15px;
	color: #a7b3c6;
}
.post-comments .media .media-body .media-heading .reply {
	font-size: 13px;
	color: #a7b3c6;
	-webkit-transition: 0.2s color;
	transition: 0.2s color;
}
.post-comments .media .media-body .media-heading .reply:hover, .post-comments .media .media-body .media-heading .reply:focus {
	color: #212631;
	text-decoration: none;
}
</style>

{% endblock stylesheet %}
	<!-- END #fh5co-header -->
	{% block content %}

	{% if post.id %}
			{% if post.id > first_post.id %}
				<a href="{% url 'single_post' id=post.id|add:'-1' %}" class="fh5co-post-prev"><span><i class="icon-chevron-left"></i> Prev</span></a>
			{% endif %}

			{% if post.id < last_post.id %}
			   <a href="{% url 'single_post' id=post.id|add:'1' %}" class="fh5co-post-next"><span>Next <i class="icon-chevron-right"></i></span></a>
			{% endif %}
	{% endif %}
	<!-- END #fh5co-header -->
	<div class="row">
		<div class="container-fluid">
			<div class="row fh5co-post-entry single-entry">
				<article class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0 animated-box">
					<h1 class="text-left">Book: {{ post.title }}</h1> <br>
					
					<figure class="">
						<img src="{{ post.image.url }}" alt="Image" class="img-responsive">
					</figure>
					<code class="text-left">
						<span class="label label-default"><a href="{% url 'category' name=post.category.name %}">Category: {{ post.category.name }}</a></span>
						
						| <span class="label label-default"><a href="{% url 'author' name=post.article_author.name.username %}">{{ post.article_author.name.get_full_name }}</a></span>
						| <span class="label label-default">Published: {{ post.posted_on }}</span>
					</code>
					
					<div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-left content-article">
						<div class="row">
							<div class="col-lg-12 cp-r">
								<p class="text-justify">
									{{ post.body|safe }}
								</p>
							</div>						
						</div>					
					</div>					
					</div>
				</article>
		</div>
	</div>

		<div class="row">
			<div class="container">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2 class="panel-title">Related Post</h2>
						</div>
						<div class="panel-body">
							<div class="row">
								{% for post in related_posts %}
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
									<div class="thumbnail">
										<a href="{% url 'single_post' id=post.id %}"><img src="{{ post.image.url }}" alt="Image" class="img-responsive"></a>
									<div class="caption">
										<code>
											<span class="label label-primary"><a class="bg-primary" href="{% url 'category' name=post.category.name %}">{{ post.category.name }}</a></span>
											<span class="label label-info"><a class="text-primary" href="{% url 'author' name=post.article_author.name.username %}">{{ post.article_author.name.get_full_name }}</a></span>
										</code>
										<h3><a class="text-success" href="{% url 'single_post' id=post.id %}">{{ post.title }}</a></h3>
										<p class="text-justify">{{ post.body|safe|truncatewords:15}}</p>
										<p><a href="{% url 'single_post' id=post.id %}" class="btn btn-info btn-lg btn-block active" role="button">Read More</a></p>
										<code>
										<span class="label label-default">{{ post.posted_on|timesince }} ago</span>
									</code>
									</div>
									</div>
								</div>
								{% empty %}
									<div class="container">
										<h3>Sorry, there is no related post of this category.</h3>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
					
			</div>
		</div>

		<div class="row">
			<div class="container">
			<div class="single_post_comment">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">All Comments</h3>
					</div>
					<div class="panel-body">
						{% for comment in comments %}
						<div class="panel-body">

						<div class="section-row">
							<!-- <div class="section-title">
								<h2>3 Comments</h2>
							</div> -->

							<div class="post-comments">
								<!-- comment -->
								<div class="media">
									<div class="media-left">
										<img class="media-object" src="{{ post.article_author.profile_picture.url }}" alt="">
									</div>
									<div class="media-body">
										<div class="media-heading">
											<h4>{{ comment.name }}</h4>
											<span class="time">{{ comment.comment_time }}</span>
											<a href="#" class="reply">Reply</a>
										</div>
										<p>{{ comment.post_comment }}</p>
									</div>
								</div>
							
							</div>
						</div>
						<hr>
						<!-- /comments -->
						<!-- <div class="single_comment">
						<h4>{{ comment.name }}</h4>
						<h5>{{ comment.email }}</h5>
						<p>{{ comment.post_comment }}</p>
						</div> -->
							{% empty %}
							<h3>Sorry, No comments found.</h3>
						</div>
						
						{% endfor %}

					</div>
				</div>
			
			</div>
			</div>
		</div>

		<div class="row">
			<div class="container">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">Comment Here</h4>
				</div>
				<div class="panel-body">
						<form action="" method="post">
							{% csrf_token %}
							{{ form|crispy }}
							<button class="btn btn-primary">Comment</button>
						</form>
				</div>
			</div>
			</div>
		</div>
		



		
	
			
	{% endblock content %}

{% block script %} {% endblock script %}






