{% extends 'blog/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Welcome to home page{% endblock title%}
{% block stylesheet %} {% endblock stylesheet %}
	<!-- END #fh5co-header -->
	{% block content %}

	<div class="container">
    

        <form action="" method="post" enctype="multipart/form-data">
            <fieldset class="col-md-6">
                <legend>Update Your profile:</legend>
           
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Update">
        </fieldset>
        </form>
    </div>

	{% endblock content %}

{% block script %} {% endblock script %}